/* The Nuxt.js default transition name is "page" */
.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
.navbar-dark .navbar-nav .nav-link {
  color: #fff; 
}
.nav-link.active {
  font-weight: 700;
}